html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

h1{  /*Titel*/
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

h2{ /*Unter-Überschrift*/
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
}

h5{  /*Text*/
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 0 1rem;
}

.title__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
}

.title__line {
    flex: 1;
    border: none;
    border-top: 2px solid #22232a;
    border-radius: 1rem;
}

.textbox__block {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.textbox__image--link {
    float: right  ;
    margin-left: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 0.5rem;
    height: 400px;
    border-radius: 2rem;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
}

/*========== NAVIGATION ==========*/

.container__nav{
    max-width: 1100px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 0 1rem;
}

.page-navigation{
    width: 100%;
    height: 5rem;
    background-color: #22232a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-navigation__logo{
    width: 25%;
}

.page-navigation__logo--image {
    height: 4rem;
    margin-top: 0.75rem;
}

.page-navigation__menu-list {
    list-style: none;
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.page-navigation__menu-item {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

.page-navigation__menu-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -3px;
    left: 0;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.page-navigation__menu-item:hover::after {
    transform: scaleX(1);
}

.page-navigation__menu-item--button::after {
    content: none;
}

.page-navigation__menu-item--button {
    border: 1.5px solid white;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.page-navigation__menu-item--button:hover {
    background-color: white;
    color: #22232a;
}

/* Styles for the burger menu icon */
.burger-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: auto;
}
    
.burger-menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
    
.overlay-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}
    
.overlay-menu.active {
    opacity: 1;
    visibility: visible;
}
    
.overlay-menu-list {
    list-style: none;
    padding: 0;
    text-align: center;
}
    
.overlay-menu-item {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    position: relative;
}
    
.overlay-menu-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
}
    
.overlay-menu-item:hover::after,
    .overlay-menu-item:focus::after {
    width: 100%;
    left: 0;
    right: auto;
}
    
/* Optional: change color on hover */
.overlay-menu-item:hover {
    color: #ddd;
}
    
.close-overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

/* Shop - coming soon */

/* Styles for the modal popup */
#comingSoonModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#comingSoonModal .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    color: #22232a;
    max-width: 500px;
    width: 90%;
}

#comingSoonModal .close-modal {
    margin-top: 1rem;
    cursor: pointer;
    background-color: #22232a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#comingSoonModal .close-modal:hover {
    background-color: #444;
}


/*========== BANNER KARUSSELL ==========*/

.carousel-wrapper {
    max-width: 1100px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 2rem 1rem 1rem 1rem;
}

.carousel {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
}

.carousel-cell {
    width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 11 / 3;
}

.carousel-cell:before {
    display: block;
    content: "";
}

.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.flickity-prev-next-button.previous {
    left: 3rem;
}

.flickity-prev-next-button.next {
    right: 3rem;
}

.mobile-carousel {
    display: none; /* Mobile-Banner standardmäßig ausblenden */
}

.desktop-carousel {
    display: block; /* Desktop-Banner standardmäßig anzeigen */
}

/*========== GLOSSAR ==========*/

.glossary__alphabet--filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 1.5rem 0;
}

.glossary__alphabet--filter button {
    flex: 1 0 8%;
    max-width: 67px;
    min-width: 40px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.glossary__alphabet--filter button:hover {
    background-color: #e0e0e0;
}

.glossary__alphabet--filter button.active {
    background-color: #22232a;
    color: #fff;
}

/* Dropdown */

.glossary__alphabet--dropdown select {
    width: 100%;
    padding: 10px;
    border-radius: 2rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.glossary__alphabet--dropdown select:hover {
    background-color: #e0e0e0;
}

.glossary__letter {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.glossary__entries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.glossary__entries--entry {
    display: flex;
    align-items: center;
    padding-top: 1.3rem;
    border-top: 1px solid #ccc;
    flex-wrap: wrap;
}

.glossary__entries--title {
    font-weight: 600;
    flex: 0 0 auto;
    width: 15%;
}

.glossary__entries--explanation {
    flex: 1;
}


.glossary__entries--entry.show {
    display: block;
}

.glossary__entries--entry.last-entry {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1.2rem;
}

/*========== ANS OCHE ==========*/
/*=== ERSTE BOX ===*/

.oche-box {
    width: 100%;
    height: 450px;
    background-color: #22232a;
    border: 5px solid white;
    border-radius: 2rem;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
    margin: 1.5rem 0;
    display: flex;
    padding: 0;
    position: relative;
}

.inner-box {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}

.left-section {
    width: 30%;
    background-color: #22232a;
    border-right: 2.5px solid white;
}

.right-section {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.upper-part {
    background-color: #22232a;
    border-bottom: 2.5px solid white;
    padding: 0 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70%;
}


.lower-part {
    height: 30%; 
    background-color: #22232a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.dart-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dart-image {
    width: 90%;
    height: auto;
}

.point1 { top: 24%; left: 75%; }
.point2 { top: 38%; left: 58%; } 
.point3 { top: 57%; left: 36%; }
.point4 { top: 77%; left: 13%; }

.point {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: border 0.3s, box-shadow 0.3s;
}

.point:hover {
    transform: scale(1.25);
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 1);
}

.point::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transition: width 0.3s;
}

.point[data-label="Flight"]::after,
.point[data-label="Shaft"]::after {
    right: 50%;
    left: auto;
}

.point[data-label="Tip"]::after,
.point[data-label="Barrel"]::after {
    left: 50%;
    right: auto;
}


.point[data-label="Flight"]::before,
.point[data-label="Shaft"]::before {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    right: calc(50% + 55px);
    transform: translateY(-50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.point[data-label="Tip"]::before,
.point[data-label="Barrel"]::before {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: calc(50% + 55px);
    transform: translateY(-50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
}

.point[data-label="Flight"]:hover::after,
.point[data-label="Tip"]:hover::after,
.point[data-label="Shaft"]:hover::after,
.point[data-label="Barrel"]:hover::after {
    width: 50px;
}

.point[data-label="Flight"]:hover::before,
.point[data-label="Tip"]:hover::before,
.point[data-label="Shaft"]:hover::before,
.point[data-label="Barrel"]:hover::before {
    opacity: 1;  /* Show the label text */
}

.point.active {
    transform: scale(1.4);
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 1);
}

.point.active::after {
    width: 50px;
}

.point.active::before {
    opacity: 1;
}


.flight-option, .barrel-option, .shaft-option, .tip-option {
    text-align: center;
    cursor: pointer;
}

.flight-option img, .barrel-option img, .shaft-option img, .tip-option img {
    width: auto;
    height: 75px;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.flight-option.active img, .barrel-option.active img, .shaft-option.active img, .tip-option.active img{
    filter: drop-shadow(0 0 10px rgba(137, 199, 207, 0.8));
}

.flight-option p, .barrel-option p, .shaft-option p, .tip-option p {
    color: white;
}

.flight-option.active p, .barrel-option.active p, .shaft-option.active p, .tip-option.active p{
    color:rgb(137, 199, 207);
}

.upper-part h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
}

.advantages-disadvantages {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Zentriert die Elemente vertikal */
    padding: 1rem 0;
    position: relative;
    height: var(--adv-disadv-height, auto); /* Höhe anpassbar mit einer CSS-Variable */
}

.advantages-disadvantages .advantage,
.advantages-disadvantages .disadvantage {
    display: flex;
    align-items: center;
    width: 45%;
    font-size: 0.85rem; /* Schriftgröße anpassen */
}

.advantages-disadvantages .advantage {
    padding-left: 1rem;
}

.vertical-line {
    width: 2px;
    background-color: white;
    height: 100%; /* Höhe auf 100% setzen, damit sie die gesamte Höhe der Elternklasse einnimmt */
    position: absolute;
    left: 50%; /* Positioniert die Linie horizontal in der Mitte */
    transform: translateX(-50%); /* Zentriert die Linie */
}

.plus {
    color: #32CD32;
    font-size: 1.5rem; /* Größe des Symbols anpassen */
    margin-right: 0.5rem;
}

.minus {
    color: #FF0000;
    font-size: 1.5rem; /* Größe des Symbols anpassen */
    margin-right: 0.5rem;
}

.properties {
    margin-top: 2rem;
    line-height: 1.25rem;
}

.properties strong {
    display: inline-block;
    text-decoration: underline;
}

.center-text {
    text-align: center;
    margin-bottom: 0;
}

.small-text {
    font-size: 0.85rem;
    margin-top: 7rem;
    margin-bottom: 1.75rem;
}

.info-section {
    flex-grow: 1;
}

.advantages-disadvantages {
    margin-bottom: 1rem;
}

.disadvantage{
    padding-left: 2rem;
}

.advantages-disadvantages .advantage,
.advantages-disadvantages .disadvantage {
    flex: 1;
    display: flex;
    align-items: center;
}

.advantages-disadvantages .vertical-line {
    width: 2px;
}

.point-images {
    display: none; /* Standardmäßig ausblenden */
}

.lower-part .carousel-control{
    display: none;
}

/*=== ZWEITE BOX - FOOTSTAND ===*/

.container__footstand {
    max-width: 1100px;
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 0 1rem;
}

.oche__footstand {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
}

.oche__footstand--box {
    flex: 1 1 30%;
    max-height: 450px;
    background-color: #22232a;
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    aspect-ratio: 1 / 1.5;
}

.oche__footstand--textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.oche__footstand--text {
    font-weight: 300;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    align-self: flex-start;
}

.oche__footstand__image-link {
    width: auto;
    height: 150px;
    margin: 0;
}

.image-type {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
}

/* Individuelle Carousel-Buttons */
.carousel-control__footstand-prev,
.carousel-control__footstand-next {
    display: none;
}

/* Checkout Chart */

.oche__checkout-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 400px;
}


.oche__checkout {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}

.oche__checkout-box {
    width: 840px;
    height: 400px;
    background-color: #22232a;
    border-radius: 2rem;
    border: 3px solid white;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem 0;
}

.oche__checkout-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    color: white;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
}

.oche__checkout-number.animate {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
}


.oche__checkout-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85%;
}

.oche__checkout-divider {
    width: 0;
    height: 250px;
    border: 1px solid white;
    border-radius: 1rem;
    margin: auto;
}

.oche__checkout-left, .oche__checkout-middle, .oche__checkout-right {
    width: 33%;
    height: 250px;
    flex-grow: 1;
    margin: auto;
}

.oche__checkout-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
}

.checkout-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.checkout-text {
    display: block;
    width: 45%;
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    text-align: center;
}

.checkout-text:hover, .checkout-text.active {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.checkout-option {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 3.5rem;
    margin: 0.15rem 0;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
}

.checkout-option span:first-child {
    display: inline-block;
    width: 3rem;
}

.checkout-option span:nth-child(2) {
    margin-right: 2rem;
}

.checkout-option:hover, .checkout-option.active {
    color: #89c7cf;
}

.oche__checkout-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}


.checkout-number {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 600;
}

.checkout-path {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.checkout-explanation {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
}

/* Checkout Button */

.oche__checkout-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.oche__checkout-options label {
    color: #22232a;
    font-size: 1.25rem;
    cursor: pointer;
}

.oche__checkout-options input[type="radio"] {
    margin-right: 0.5rem;
}

/* Stil für den ausgewählten Radio-Button */
.oche__checkout-options input[type="radio"]:checked + label {
    color: #22232a;
}

input[type="radio"] {
    width: auto;
    height: auto;
    accent-color:#22232a;
}

.oche__checkout-options {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.labels-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: right;
    margin-right: 0.5rem;
}

.labels-container label {
    font-size: 1.25rem;
    font-weight: 600;
    color: #22232a;
    cursor: pointer;
    user-select: none;
    height: 40px;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.radio-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #22232a;
    border-radius: 2rem;
    border: 2px solid white;
    height: 150px;
    width: 60px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.6);
}

.radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.radio-group input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: #22232a;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.radio-group input[type="radio"]:checked {
    background-color: white;
}

.radio-group input[type="radio"]:checked::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #22232a;
    border-radius: 50%;
    margin: 4px;
}

.radio-group input[type="radio"]:hover {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}

.new-options {
    display: none;
}

/*========== FAQ ==========*/

/*========== FORMULAR ==========*/

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea,
select {
    margin: 0;
    width: 100%;
    min-height: 3rem;
    box-sizing: border-box;
}


input:focus,
textarea:focus,
select:focus {
    background-color: #454753;
    color: white;
    border: none;
    outline: none;
}

input, textarea {
    background-color: #ededed;
    border: none;
    color: black;
    padding-left: 0.75em;
}

textarea {
    padding-top: 0.75rem;
    resize: none;
}

select {
    background-color: #ededed;
    border: none;
    color: black;
    padding-left: 0.75rem;
    width: 100%;
    min-height: 3rem;
    margin: 0.75rem 0 0 0;
    font-size: 1rem;
    border-radius: none;
}

input[type="submit"] {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #22232a;
    color: white;
    border: 2px solid transparent;
    border-radius: 10rem;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: white;
    color: #22232a;
    border: 2px solid #22232a;
}

.privacy-notice {
    font-size: 0.8rem;
    color: #666;
    text-align: right;
    margin-right: 1rem;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.form-footer {
    display: flex;
    align-items: center;
    margin-top: 0; 
    gap: 2rem;
}

.contact__details {
    text-align: center;
    border-radius: 0.5rem;
    border: 2px solid #22232a;
    margin-bottom: 2rem;
}

.contact__details--container {
    width: 35%;
    text-align: center;
}

.email__field, .request__field, .message__field {
    margin-bottom: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.name__fields, .contact__fields {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.name__fields label, .contact__fields label {
    flex: 1;
}

.question__field {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0.5rem;
}

.question__field legend {
    font-weight: normal;
    margin-right: 1rem;
}

.question__field label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

input[type="radio"] {
    width: auto;
    height: auto;
    accent-color:#22232a;
}

/* 5 Reiter */

.faq {
    margin-top: 3rem;
}

.faq-item {
    margin-bottom: 0.5rem;
}

.faq-question {
    width: 100%;
    padding: 1rem;
    background-color: #22232a;
    color: white;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.faq-question::after {
    content: '>';
    font-size: 1.2rem;
    color: white;
    transform: rotate(90deg);
    transition: transform 0.3s;
}

.faq-question.open::after {
    transform: rotate(-90deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    background-color: #44454b;
    color: white;
    line-height: 1.5rem;
    font-weight: 300;
}

.faq-answer p {
    margin: 0;
}

.faq-item.open .faq-answer {
    max-height: 250px;
    padding: 1rem;
}



/*FOOTER*/

.page-footer {
    width: 100%;
    background-color: #22232a;
    padding: 2rem 0;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
}

.page-footer__legal,
.page-footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
}

.page-footer__legal h5,
.page-footer__social h5 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.page-footer__legal-list,
.page-footer__social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.page-footer__legal-list li,
.page-footer__social-list li {
    margin: 0.25rem 0;
    padding-left: 0;
}

.page-footer__legal-list a,
.page-footer__social-list a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    line-height: 1.25rem;
}

.page-footer__legal-list a::after,
.page-footer__social-list a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.page-footer__legal-list a:hover::after,
.page-footer__social-list a:hover::after {
    transform: scaleX(1);
}

.page-footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.page-footer__logo--image {
    height: 5rem;
    margin-top: 0;
}

.page-footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page-footer__social-list img {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 1150px) {

    /* Darts Box */

    .oche-box{
        height: 650px;
    }

    .inner-box {
        flex-direction: column;
    }

    .left-section {
        width: 100%;
        height: 150px;
        border: none;
        border-bottom: 2px solid white;
    }

    .right-section {
        width: 100%;
        height: 75%;
    }

    .upper-part {
        order:2;
        height: 100%;
        border-bottom: none;
    }

    .lower-part {
        order:1;
        height: 150px;
        border-bottom: 2px solid white;
    }

    .dart-image {
        display: none;
    }

    .dart-container{
        display: none;
    }

    .left-section .point {
        width: 100px;
        height: auto;
        cursor: pointer;
        margin: 5px;
    }

    .point-images {
    height: 150px; 
    background-color: #22232a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    }

    .point-image{
        width: auto;
        height: 75px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .point-image.active {
        filter: drop-shadow(0 0 10px rgba(137, 199, 207, 0.8));
    }

    .point-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .point-description {
        color: white;
        font-size: 1rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    .carousel-control{
        display: none;
    }

    /* Checkout Box */
    
    .oche__checkout-wrapper {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .oche__checkout-box {
        max-width: 100%;
    }

    .oche__checkout-options {
        order: 2;
        justify-content: center;
        flex-direction: row;
        margin-top: 1.5rem;
        gap: 2rem;
    }

    .oche__checkout-middle {
        margin: auto 0;
    }

    .labels-container, .radio-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .radio-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .radio-group input[type="radio"] {
        margin: 0;
    }

    .labels-container label {
        order: 1;
    }

    .radio-buttons-container .radio-group {
        order: 0;
    }

    .original-options {
        display: none;
    }

    .new-options {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .new-options .radio-group {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .new-options .radio-group input[type="radio"] {
        margin: 0;
        border: 2px solid #22232a;
        background-color: white;
    }
    
}

@media (max-width: 1000px) {

    /* Footstand */

    .container__footstand{
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .carousel-control__footstand-prev,
    .carousel-control__footstand-next {
        display: block;
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        z-index: 9999;
        transform: translateY(-50%);
        transition: transform 0.3s ease;
    }

    .carousel-control__footstand-prev {
        left: 2.5rem;
    }

    .carousel-control__footstand-next {
        right: 2.5rem;
    }

    .carousel-control__footstand-prev:hover,
    .carousel-control__footstand-next:hover {
        transform: translateY(-50%) scale(1.1);
    }

    .oche__footstand {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 525px;
        overflow: hidden;
    }

    .oche__footstand--box {
        position: absolute;
        width: 30%;
        height: 100%;
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 0.5;
        transform: scale(0.9);
    }

    .oche__footstand--box.active {
        transform: translateX(0) scale(1);
        opacity: 1;
        z-index: 5;
    }

    .oche__footstand--box.prev {
        transform: translateX(-75%) scale(0.8);
        opacity: 0.5;
        z-index: 4;
    }

    .oche__footstand--box.next {
        transform: translateX(75%) scale(0.8);
        opacity: 0.5;
        z-index: 4;
    }
}

@media screen and (max-width: 870px) {

    /* Navigation */

    .page-navigation__menu-list{
        display: none;
    }

    .burger-menu-icon {
        display: flex;
        position: relative;
    }

    /* Banner Carousel */

    .carousel-wrapper {
        width: 100%;
        padding:0;
        margin: 0;
    }

    .carousel {
        border-radius: 0;
    }

    .carousel-cell {
        aspect-ratio: 11 / 8;
    }

    .desktop-carousel {
        display: none;
    }

    .mobile-carousel {
        display: block;
    }

    /* About us */

    .textbox__image--link {
        height: 300px;
    }

    /* Dropdown */

    .glossary__alphabet--filter {
        display: none;
    }

    .glossary__alphabet--dropdown {
        display: block;
        margin: 1.5rem 0;
    }

    .glossary__alphabet--dropdown select {
        width: 100%;
        padding: 10px;
        border-radius: 2rem;
        border: 1px solid #ccc;
        background-color: #22232a;
        color: white;
        border: 2px solid white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .glossary__alphabet--dropdown select:hover {
        background-color: #22232a;
        color: white;
    }

    /* Inhalt */

    .glossary__entries--entry {
        flex-direction: column;
        align-items: flex-start;
    }

    .glossary__letter{
        font-size: 1.5rem;
    }

    .glossary__entries--title {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .glossary__entries--explanation {
        width: 100%;
    }

    /* Checkout Box */

    .oche__checkout-box {
        width: 400px;
        height: 840px;
        position: relative;
    }

    .oche__checkout-content {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        align-items: center;
    }

    .oche__checkout-left {
        width: 100%;
        margin: 1.5rem 0;
    }

    .oche__checkout-middle{
        width:100%;
        margin: 1rem 0;
    }

    .checkout-option {
        padding: 0;
        justify-content: center;
    }

    .oche__checkout-right{
        width: 100%;
        margin-top: 1.5rem;
    }

    .oche__checkout-divider {
        width: 80%;
        height: 0;
        border: 1px solid white;
        border-radius: 1rem;
    }

    .oche__checkout-left, .oche__checkout-right {
        display: flex;
    }

    .checkout-path{
        margin-bottom: 1.5rem;
    }

    .checkout-explanation{
        padding: 0 2rem;
    }

    .oche__checkout-number{
        display: none;
    }

    /* Kontaktformular */

    .name__fields, .contact__fields {
        flex-direction: column;
    }

    .name__fields label, .contact__fields label {
        width: 100%;
    }

    /* Footer */

    .page-footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .page-footer__social {
        order: 1;
        margin-bottom: 2rem;
    }

    .page-footer__logo {
        order: 2;
        margin:0;
    }

    .page-footer__legal {
        order: 3;
    }

    .page-footer__legal, .page-footer__social{
        align-items: center;
    }

    .page-footer__legal-list,
    .page-footer__social-list {
        text-align: center;
    }
}

@media screen and (max-width: 550px) {

    h1{
        font-size: 1.6rem;
    }

    h2{
        font-size: 1rem;
    }

    /* Navigation */

    .container__nav{
        width: 100%;
        padding: 0;
    }

    .page-navigation__logo--image{
        height: 3rem;
    }

    .burger-menu-icon{
        width: 25px;
        height: 20px;
    }

    .textbox__block {
        display: block;
        text-align: center;
    }
    
    .textbox__image--link {
        margin-bottom: 2rem;
        margin-left: 0;
        display: block;
        margin: 2rem auto;
        max-width: 100%;
        height: auto;
    }

    /* Glossary*/

    .glossary__entries--explanation {
        font-size: 0.9rem;
    }

    /* Darts Box */

    .oche-box {
        height: 725px;
    }

    .point-images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .point-item {
        display: none;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 0.5;
    }

    .point-item.active {
        display: flex;
        opacity: 1;
    }

    .carousel-control {
        display: block;
        position: absolute;
        top: 50%;
        width: 3rem;
        height: 3rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
        z-index: 9999;
        transform: translateY(-50%);
    }

    .carousel-control.prev {
        left: 1.5rem;
    }

    .carousel-control.next {
        right: 1.5rem;
    }

    .lower-part {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lower-part .carousel-control {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        z-index: 1;
    }

    .lower-part .carousel-control.prev {
        left: 1.5rem;
    }

    .lower-part .carousel-control.next {
        right: 1.5rem;
    }

    .lower-part .carousel-control:hover {
        background: rgba(0, 0, 0, 0.7);
    }

    .advantages-disadvantages {
        flex-direction: column;
        height: 125px;
    }

    .vertical-line {
        display: none;
    }

    .upper-part .info-section {
        border-bottom: 1px solid white;
        height: 150px;
        overflow: hidden;
    }

    .upper-part .info-section strong {
        text-decoration: underline;
    }

    .upper-part .info-section p {
        font-size: 0.85rem;
    }

    .advantages-disadvantages .advantage,
    .advantages-disadvantages .disadvantage {
        width: 100%;
        padding-left: 0;
    }

    .left-section .point-item {
        pointer-events: none;
    }

    .lower-part .flight-option,
    .lower-part .shaft-option,
    .lower-part .barrel-option,
    .lower-part .tip-option {
        pointer-events: none;
    }

    /* Footstand */

    .carousel-control__footstand-prev {
        left: 8rem;
        top: 92.5%;
    }

    .carousel-control__footstand-next {
        right: 8rem;
        top: 92.5%;
    }


    /* Formular */

    .form-footer {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
    }

    .message__field{
        margin-bottom: 0;
    }

    .privacy-notice {
        text-align: left;
        margin-right: 0;
    }

    .new-options{
        display: block;
    }

    input[type="submit"]{
        font-size: 0.75rem;
        padding: 0.65rem 1.1rem;
    }

    /* FAQ */

    .faq-question{
        font-size: 0.85rem;
    }

    .faq-answer{
        font-size: 0.75rem;
        line-height: 1rem;
    }

    /* Footer */

    .page-footer{
        margin-top: 5rem;
    }

}